<div class="p-6">
  <h1 class="text-4xl font-bold tracking-tight">Tooltip</h1>
  <p class="text-lg text-muted-foreground mt-2">A popup that displays information related to an element when the element receives keyboard focus or the mouse hovers over it.</p>

  <h2 class="subtitle-2 pb-2 mt-8">Preview</h2>

  <div class="preview">
    <dl-tooltip text="Add to library">
      <button dl-button type="button" appearance="ghost">
        Hover me
      </button>
    </dl-tooltip>
  </div>
</div>
