<div class="p-6">
  <h1 class="text-4xl font-bold tracking-tight">Tabs</h1>
  <p class="mt-2 text-lg text-muted">
    A set of layered sections of content—known as tab panels—that are displayed
    one at a time.
  </p>

  <h2 class="subtitle-2 mt-8 pb-2">Example</h2>

  <div class="preview">
    <dl-tabs>
      <dl-tab id="food" label="Food"></dl-tab>
      <dl-tab id="delivery" label="Delivery"></dl-tab>
      <dl-tab id="best_deals" label="Best deals"></dl-tab>
      <dl-tab id="personal_offers" label="Personal offers"></dl-tab>
    </dl-tabs>
  </div>
</div>
