<div class="p-6">
  <h1 class="text-4xl font-bold tracking-tight">Segmented</h1>
  <p class="mt-2 max-w-2xl text-lg text-muted">
    Вертикальные вкладки без использования навигации в приложении. Удобен для
    разделения страницы на несколько частей.
  </p>

  <h2 class="subtitle-2 mt-8 pb-2">Пример использования</h2>

  <div class="preview">
    <dl-segmented>
      <dl-segmented-content id="id1" label="Аккаунт">
        Первая вкладка
      </dl-segmented-content>
      <dl-segmented-content id="id2" label="Способы оплаты">
        Вторая вкладка
      </dl-segmented-content>
      <dl-segmented-content id="id3" label="Настройки">
        Третья вкладка
      </dl-segmented-content>
    </dl-segmented>
  </div>

  <h2 class="subtitle-2 mt-8 pb-2">Альтернативное представление</h2>

  <div class="preview">
    <dl-segmented appearance="tabs">
      <dl-segmented-content id="id4" label="Аккаунт">
        Первая вкладка
      </dl-segmented-content>
      <dl-segmented-content id="id5" label="Способы оплаты">
        Вторая вкладка
      </dl-segmented-content>
      <dl-segmented-content id="id6" label="Настройки">
        Третья вкладка
      </dl-segmented-content>
    </dl-segmented>
  </div>
</div>
