<div class="p-6">
  <h1 class="text-4xl font-bold tracking-tight">Alert</h1>
  <p class="mt-2 text-lg text-muted">
    Displays a badge or a component that looks like a badge.
  </p>

  <h2 class="subtitle-2 mt-8 pb-2">Preview</h2>

  <div class="preview">
    <div class="flex flex-wrap items-center space-x-4">
      <dl-badge appearance="primary">Primary</dl-badge>
      <dl-badge appearance="secondary">Secondary</dl-badge>
      <dl-badge appearance="outline">Outline</dl-badge>
      <dl-badge appearance="destructive">Destructive</dl-badge>
    </div>
  </div>
</div>
