<div class="p-6">
  <h1 class="text-3xl font-bold tracking-tight">Button</h1>
  <p class="mt-2 text-muted">
    Displays a button or a component that looks like a button.
  </p>

  <h2 class="subtitle-2 mt-8 pb-2">Examples</h2>

  <div class="preview">
    <div class="flex flex-wrap items-center space-x-4">
      <button dl-button>Primary</button>
      <button dl-button appearance="secondary">Secondary</button>
      <button dl-button appearance="ghost">Ghost</button>
      <button dl-button appearance="destructive">Destructive</button>
      <button dl-button appearance="link">Link</button>
    </div>
  </div>

  <h2 class="subtitle-2 mt-8 pb-2">Disabled</h2>

  <div class="preview">
    <div class="flex flex-wrap items-center space-x-4">
      <button dl-button [disabled]="true">Primary</button>
      <button dl-button appearance="secondary" [disabled]="true">
        Secondary
      </button>
      <button dl-button appearance="ghost" [disabled]="true">Ghost</button>
      <button dl-button appearance="destructive" [disabled]="true">
        Destructive
      </button>
      <button dl-button appearance="link" [disabled]="true">Link</button>
    </div>
  </div>

  <h2 class="subtitle-2 mt-8 pb-2">Variants</h2>

  <div class="preview">
    <div class="flex flex-wrap items-center space-x-4">
      <button dl-button appearance="ghost" size="icon">
        <dl-icon variant="ri-mail-line" />
      </button>

      <button dl-button>
        <dl-icon variant="ri-mail-line" class="mr-2" />
        Login with email
      </button>

      <button dl-button [disabled]="true">
        <dl-loader class="mr-2" />
        Please wait
      </button>
    </div>
  </div>
</div>
