<div class="p-6">
  <h1 class="text-4xl font-bold tracking-tight">Menu</h1>
  <p class="text-lg text-muted-foreground mt-2">Displays a menu to the user — such as a set of actions or functions — triggered by a button.</p>

  <h2 class="subtitle-2 pb-2 mt-8">Basic</h2>

  <div class="preview">
    <dl-menu>
      <button dl-button appearance="ghost">Open</button>

      <ng-container dl-options>
        <a dl-option>
          <dl-icon variant="ri-bank-card-line" class="mr-2"/>
          Billing
        </a>
        <a dl-option>
          <dl-icon variant="ri-settings-4-line" class="mr-2"/>
          Settings
        </a>
        <a dl-option>
          <dl-icon variant="ri-keyboard-line" class="mr-2"/>
          Keyboard shortcuts
        </a>
      </ng-container>
    </dl-menu>
  </div>
</div>
