.color {
  @apply p-4 rounded;
}

.color-1 {
  background-color: hsl(var(--background));
}

.color-2 {
  background-color: hsl(var(--foreground));
  color: hsl(var(--primary-foreground));
}

.color-3 {
  background-color: hsl(var(--card));
}

.color-4 {
  background-color: hsl(var(--card-foreground));
  color: hsl(var(--primary-foreground));
}

.color-5 {
  background-color: hsl(var(--popover));
}

.color-6 {
  background-color: hsl(var(--popover-foreground));
  color: hsl(var(--primary-foreground));
}

.color-7 {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}

.color-8 {
  background-color: hsl(var(--primary-foreground));
}

.color-9 {
  background-color: hsl(var(--secondary));
}

.color-10 {
  background-color: hsl(var(--secondary-foreground));
  color: hsl(var(--primary-foreground));
}

.color-11 {
  background-color: hsl(var(--muted));
}

.color-12 {
  background-color: hsl(var(--muted-foreground));
}

.color-13 {
  background-color: hsl(var(--accent));
}

.color-14 {
  background-color: hsl(var(--accent-foreground));
  color: hsl(var(--primary-foreground));
}

.color-15 {
  background-color: hsl(var(--destructive));
}

.color-16 {
  background-color: hsl(var(--destructive-foreground));
}

.color-17 {
  background-color: hsl(var(--border));
}

.color-18 {
  background-color: hsl(var(--input));
}
