<dl-root>
  <!--    <div class="my-8">-->
  <!--      <div class="flex items-center space-x-2 space-y-2 flex-wrap">-->
  <!--        <div class="color color-1">&#45;&#45;background</div>-->
  <!--        <div class="color color-2">&#45;&#45;foreground</div>-->
  <!--        <div class="color color-3">&#45;&#45;card</div>-->
  <!--        <div class="color color-4">&#45;&#45;card-foreground</div>-->
  <!--        <div class="color color-5">&#45;&#45;popover</div>-->
  <!--        <div class="color color-6">&#45;&#45;popover-foreground</div>-->
  <!--        <div class="color color-7">&#45;&#45;primary</div>-->
  <!--        <div class="color color-8">&#45;&#45;primary-foreground</div>-->
  <!--        <div class="color color-9">&#45;&#45;secondary</div>-->
  <!--        <div class="color color-10">&#45;&#45;secondary-foreground</div>-->
  <!--        <div class="color color-11">&#45;&#45;muted</div>-->
  <!--        <div class="color color-12">&#45;&#45;muted-foreground</div>-->
  <!--        <div class="color color-13">&#45;&#45;accent</div>-->
  <!--        <div class="color color-14">&#45;&#45;accent-foreground</div>-->
  <!--        <div class="color color-15">&#45;&#45;destructive</div>-->
  <!--        <div class="color color-16">&#45;&#45;destructive-foreground</div>-->
  <!--        <div class="color color-17">&#45;&#45;border</div>-->
  <!--        <div class="color color-18">&#45;&#45;input</div>-->

  <!--      </div>-->
  <!--    </div>-->

  <div class="max-w-[1400px] mx-auto px-8">
    <div class="flex w-full">
      <app-navigation />
      <div class="flex-1 ml-16">
        <router-outlet />
      </div>
    </div>
  </div>
</dl-root>
