<div class="p-6">
  <h1 class="text-4xl font-bold tracking-tight">Select</h1>
  <p class="text-lg text-muted-foreground mt-2">Displays a list of options for the user to pick from—triggered by a button.</p>

  <h2 class="subtitle-2 pb-2 mt-8">Preview</h2>

  <div class="preview">
    <div>
      <dl-select class="w-[240px]" placeholder="Select food">
        <ng-container dl-options>
          <dl-option [value]="'Pizza'">Pizza</dl-option>
          <dl-option [value]="'Pasta'">Pasta</dl-option>
          <dl-option [value]="'Cheeseburgers'">Cheeseburgers</dl-option>
          <dl-option [value]="'Oranges'">Oranges</dl-option>
        </ng-container>
      </dl-select>
    </div>
  </div>

  <h2 class="subtitle-2 pb-2 mt-8">Multiple</h2>

  <div class="preview">
    <div>
      <dl-select class="w-[240px]" [multiple]="true" placeholder="Select food">
        <ng-container dl-options>
          <dl-option [value]="'Pizza'">Pizza</dl-option>
          <dl-option [value]="'Pasta'">Pasta</dl-option>
          <dl-option [value]="'Cheeseburgers'">Cheeseburgers</dl-option>
          <dl-option [value]="'Oranges'">Oranges</dl-option>
        </ng-container>
      </dl-select>
    </div>
  </div>
</div>
